<%- include('../partials/header') %>

        <h1>Your heros list</h1>
      
<ul>

       <% heros.forEach(function(hero) { %>
         <li> <%= hero.name %> </li>
     <%  }) %>

    </ul>


<%- include('../partials/footer') %>








