<%- include('../partials/header') %>




<div class="container">

<div class="box"> 


<form action="/heros" method="post"> 

    <input type="text" name="name" placeholder="Enter a superhero name"> 
    <button class="btn btn-primary" type="submit">Search</button>
 
</form>


</div>
</div>


<!-- do this later -->



<form action="" method="">
    <button type="button" class="btn btn-dark">Hero Collection</button>
  </form>


  





  </div>
<%- include('../partials/footer') %>