<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Supehero</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <%= userData %>
  <form action="/" method="POST">
  <input type="text" action="">Search for your superhero</input>
    </form>
</body>
</html>
