<%- include('../partials/header') %>


<% function getRandom(min, max) { %>
  <% return Math.random() * (max - min) + min; } %>


<% let randomNum = getRandom(1,731); %>
<% let randomRound = Math.round(randomNum); %>

<h1 class="title"> <b> Favorite Heroes </b></h1>


<div class="container">




<form action="/heros" method="post"> 
    <input id="searchBar" type="text" name="name" placeholder="Enter a superhero name" required> 

    <button id="searchButton" class="btn btn-dark" type="submit">Search</button>

</form>



</div>





  





  </div>
</main>
</body>
</html>