<%- include('../partials/header') %>




<div class="container">




<form action="/heros" method="post"> 
    <input type="text" name="name" placeholder="Enter a superhero name"> 

    <button class="btn btn-dark" type="submit">Search</button>

</form>


</div>

<a href="/favHeros"> <button type="button" class="btn btn-dark">Hero Collection</button> </a>



  





  </div>
<%- include('../partials/footer') %>